body {
  background: #624023;
  font-family: "Lalezar", tahoma, verdana, sans serif;
  }

canvas {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  background: #fafafa;
}

p{
  margin: 1rem;
  color: #ccad92;
  text-align: center;
}

#controls{
  margin-left: 1rem;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e281b;
  padding: 10px 20px;
  color: white;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  position: relative;
}
nav ul li {
  display: inline;
  position: relative;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}
nav ul li a:hover {
  background-color: #444;
  border-radius: 5px;
}
.logo{
  font-family: "Monoton", sans-serif;
  font-size: 24pt;
}
/* .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.dropdown.show {
  display: flex;
}
/* Resizable Canvas 
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
canvas {
  width: 90%;
  height: 90%;
  max-width: 1280px;
  max-height: 1024px;
} 
*/
 /* Floating draggable control panel */
 #controls {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  background: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  cursor: grab;
  display: none;
  visibility: hidden;

}
#controls:active {
  cursor: grabbing;
}
/* Resizable Canvas */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
canvas {
  width: 90%;
  height: 90%;
  max-width: 1280px;
  max-height: 1024px;
}